<div class="content container-fluid performance-body">
	<div class="row-fluid">
		<div class="span12 draw-title">
			<div class="pull-left">CPU</div>
			<div class="pull-right">
				<a href="#">详细</a>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div id="cpu">
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12 draw-title">
			<div class="pull-left">内存</div>
			<div class="pull-right">
				<a href="#">详细</a>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div id="memory">
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12 draw-title">
			<div class="pull-left">网卡流量</div>
			<div class="pull-right">
				<a href="#">详细</a>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div id="network">
			</div>
		</div>
	</div>
</div>